{% extends "base.html" %}

{% block content %}
    <a href="/download_retina" download>
        <h4>
            <button class="btn">Download Retina Proteome Dataset</button>
        </h4>
    </a>
    <p>Here's some information about the retina proteome dataset.</p>
    <br>
    <a href="/download_choroid" download>
        <h4>
            <button class="btn">Download RPE Choroid Proteome Dataset</button>
        </h4>
    </a>
    <p>Here's some information about the RPE choroid proteome dataset.</p>
    <br>
    <a href="/download_vitreous.zip" download>
        <h4>
            <button class="btn">Download Vitreous Proteome Dataset</button>
        </h4>
    </a>
    <p>Here's some information about the vitreous proteome dataset.</p>
{% endblock %}