{% extends "base.html" %}

{% block content %}
    <h5> Human Retina Proteome </h5>
    <p>
        Velez, G., Machlab, D. A., Tang, P. H., Sun, Y., Tsang, S. H., Bassuk, A. G., & Mahajan, V. B. (2018). Proteomic analysis of the human retina reveals region-specific susceptibilities to metabolic-and oxidative stress-related diseases. PloS one, 13(2), e0193250.
        <br>
        Cabral, T., Toral, M. A., Velez, G., DiCarlo, J. E., Gore, A. M., Mahajan, M., et al. (2017). Dissection of Human Retina and RPE-Choroid for Proteomic Analysis. Journal of visualized experiments: JoVE, (129).
    </p>
    <a href="/download_retina" download>
        <button class="btn">Download</button>
    </a>
    <br>
    <br>
    <br>

    <h5>Human RPE-Choroid Proteome</h5>
    <p>
        Skeie, J. M., & Mahajan, V. B. (2014). Proteomic Landscape of the Human Choroid–Retinal Pigment Epithelial Complex. JAMA ophthalmology, 132(11), 1271-1281.
    </p>
    <a href="/download_choroid" download>
        <button class="btn">Download</button>
    </a>
    <br>
    <br>
    <br>


    <h5>Human Vitreous Proteome</h5>
    <p>
        Skeie, J. M., Roybal, C. N., & Mahajan, V. B. (2015). Proteomic insight into the molecular function of the vitreous. PLoS One, 10(5), e0127567.
        <br>
        Skeie, J. M., & Mahajan, V. B. (2011). Dissection of human vitreous body elements for proteomic analysis. Journal of visualized experiments: JoVE, (47).
    </p>
        <a href="/download_vitreous" download>
        <button class="btn">Download</button>
    </a>

    <br>
    <br>
    <br>

    <h5>Mouse Vitreous Proteome</h5>
    <p>
        Names of
        <br>
        People
    </p>
        <a href="/download_mouse_vitreous" download>
        <button class="btn">Download</button>
    </a>

    <br>
    <br>
    <br>

   <h5>Mouse Retina Proteome</h5>
    <p>
        Names of
        <br>
        People
    </p>
        <a href="/download_mouse_retina" download>
        <button class="btn">Download</button>
    </a>

    <br>
    <br>
    <br>

{% endblock %}