{% extends "base-search.html" %}

<head>
    <title>Ocular Proteome DB Home</title>
</head>

{% block content %}
    <h3 style="color: #8c1515;">
        About the Database
    </h3>
    <p>
         A proteome  can be defined as the complete set of proteins expressed in a particular cell or tissue of interest. We use proteomics to discover biomarkers, therapeutic targets, and molecular pathways involved in eye diseases where diagnosis is difficult and current treatment is inadequate. Projects include the use of human tissues, animal tissues, and cultured cells.
        <br>
        <br>

    Search our human and mouse databases for your proteins of interest. The databases are based on our published work on regional protein expression in the human retina, retinal pigment epithelium, and vitreous. A separate search for mouse retina and vitreous is under development.

    </p>
{% endblock %}